@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');


* {

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
font-weight: 300;

}


.container {

height: 100vh;
width: 100%;
background: url(/assets/images/bg.png);
background-size: cover;
padding-right: 3%;
padding-left: 5%;
position: relative;

}

.header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;

}


.logo {

    width: 80px;
    margin-top: 10px;
    cursor: pointer;


}


nav {

flex: 1;
padding-left: 450px;

}


nav ul li {

display: inline-block;
list-style: none;
margin: 0 15px;

}


nav ul li a {

text-decoration: none;
color: #fff;
text-transform: uppercase;
font-size: 15px;
font-weight: 600;

}

nav ul li:hover {

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: 0.5s;

}


#btn1 {

text-transform: uppercase;
background: linear-gradient(to bottom, #378de5, #48789b 100%);
border-radius: 30px;
cursor: pointer;
border: 1px solid #5e97d1;
margin: 10px;
padding: 12px 20px;
font-size: 17px;
font-weight: 700;
text-decoration: none;
box-shadow: 1px 4px 12px rgba(94, 28, 68,.15);
text-shadow: 0 1px 0 #528ecc;
color: #fff;
}


#btn2 {

    text-transform: uppercase;
    background: linear-gradient(to bottom, #cbcbcb, #fff 100%);
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #cbcbcb;
    margin: 10px;
    padding: 12px 20px;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 1px 4px 12px rgba(94, 28, 68,.15);
    text-shadow: 0 1px 0 #528ecc;
    color: #5797d1;

    }


    .btn:hover {

        box-shadow: 3px 8px 22px rgba(94, 28, 68,.15);
        transform: scale(1.1);
        transition: .2s ease-in-out;

    }

    .content {


        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

.content .text {

position: relative;
max-width: 600px;


}
.content .text h1  {

    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: #fff;
    margin-top: 80px;
    font-size: 40px;

}


.content .text h1 span {

font-size: 50px;

}

.content .text p {

font-size: 17px;
color: #e7e3e3;
font-weight: 400;
margin-top: 40px;
letter-spacing: .1em;

}

.btn3 {

    background: linear-gradient(to bottom, #378de5, #48789b 100%);
    margin-top: 60px;
    margin-left: 140px;
    padding: 15px 30px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
}

.btn3:hover {

cursor: pointer;
background: #b1b1f2;
transition: 1.0s; 
color: rgb(218, 182, 83);

}

.pepsi {

display: flex;
height: 380px;
margin-top: 80px;
padding-right: 240px;
justify-content: flex-end;
}

